[submodule "dev"]
	path = dev
	url = https://github.com/kvnbias/config-dev
[submodule "themes"]
	path = themes
	url = https://github.com/kvnbias/desktop-themes.git
[submodule "rice/images"]
	path = rice/images
	url = https://github.com/kvnbias/desktop-images.git
[submodule "icon-themes"]
	path = icon-themes
	url = https://github.com/kvnbias/desktop-icons
