
module cse-arch-php 1.0;

require {
    type hugetlbfs_t;
    type http_port_t;
    type node_t;
    type user_home_dir_t;
    type user_sudo_t;
    type user_t;
    class dir { add_name create remove_name write };
    class file { create lock map open read setattr write };
    class process execmem;
    class tcp_socket { accept listen name_bind name_connect node_bind };
}

#============= user_sudo_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     'allow_ypbind'
#
# Allows the user [sudo] to bind a node in a tcp socket using the PHP server.
allow user_sudo_t node_t:tcp_socket node_bind;

#!!!! This avc can be allowed using one of the these booleans:
#     'allow_ypbind'
#
# Allows the user [sudo] to accept & listen to a port of a tcp socket binded by
# PHP server.
allow user_sudo_t self:tcp_socket { accept listen };

# Allows user [sudo] to bind & connect a HTTP port [:80] to a tcp socket using
# PHP server.
allow user_sudo_t http_port_t:tcp_socket { name_bind name_connect };

# Allows the user [sudo] to access & manipulate the filesystem using PHP server.
allow user_sudo_t hugetlbfs_t:file { map read write };

# Allows the user [sudo] to execute programs requiring memory addresses that
# are both executable and writeable using PHP server.
allow user_sudo_t self:process execmem;

# Allows the user [sudo] to access & manipulate the home DIR using PHP server.
allow user_sudo_t user_home_dir_t:dir { add_name create remove_name write };

# Allows the user [sudo] to access & manipulate the home DIR files using PHP server.
allow user_sudo_t user_home_dir_t:file { create lock open setattr write };

# Allows the user [sudo] to access & manipulate the var_log DIR using PHP server.
allow user_sudo_t var_log_t:dir { add_name create write };

# Allows the user [sudo] to access & manipulate the var_log DIR files using PHP server.
allow user_sudo_t var_log_t:file { append create open };

#============= user_t ==============

# Allows the user to access & manipulate the filesystem using PHP server.
# Wil be rejected anyway since the user needs sudo priviledges to bind to port 80.
allow user_t hugetlbfs_t:file { map read write };
