
# This module shouldn't be activated in production servers. Read & modify the
# module before using.

module cse-arch-node 1.0;

require {
    type http_port_t;
    type node_t;
    type sysctl_vm_overcommit_t;
    type sysctl_vm_t;
    type unreserved_port_t;
    type user_home_t;
    type user_sudo_t;
    type var_log_t;
    class dir { add_name create remove_name search write };
    class file { append create execute execute_no_trans open read };
    class process execmem;
    class tcp_socket { accept listen name_bind node_bind };
}

#============= user_sudo_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     'allow_ypbind'
#
## arch
## Allows the user [sudo] to bind a node in a tcp socket using the NodeJS.
allow user_sudo_t node_t:tcp_socket node_bind;

#!!!! This avc can be allowed using one of the these booleans:
#     'allow_ypbind'
#
## arch
## Allows the user [sudo] to accept & listen to a port of a tcp socket binded by
## NodeJS.
allow user_sudo_t self:tcp_socket { accept listen };

## arch
## Allows user [sudo] to bind & connect a HTTP port [:80, :443] to a tcp socket
## using NodeJS.
allow user_sudo_t http_port_t:tcp_socket name_bind;

## arch
## Allows the user [sudo] to execute programs requiring memory addresses that
## are both executable and writeable using NodeJS.
allow user_sudo_t self:process execmem;

## arch
## Allows the user [sudo] to open & read system files using NodeJS.
allow user_sudo_t sysctl_vm_overcommit_t:file { open read };

## arch
## Allows the user [sudo] to search system files using NodeJS.
allow user_sudo_t sysctl_vm_t:dir search;

## arch
## Allows user [sudo] to bind & connect an unreserved port [:11060] to a tcp
## socket using NodeJS.
allow user_sudo_t unreserved_port_t:tcp_socket name_bind;

## arch
## Allows the user [sudo] to create directories on home DIR using PHP server.
allow user_sudo_t user_home_dir_t:dir add_name;

## arch
## Allows the user [sudo] to execute files [.js] on home DIR using NodeJS.
allow user_sudo_t user_home_t:file { execute execute_no_trans };

## arch
## Allows the user [sudo] to access & manipulate the var_log DIR using NodeJS.
allow user_sudo_t var_log_t:dir { add_name create write };

## arch
## Allows the user [sudo] to access & manipulate the var_log DIR files using NodeJS.
allow user_sudo_t var_log_t:file { append create open };

