
module cse-test 1.0;

require {
    type httpd_tmp_t;
    type http_port_t;
    type httpd_log_t;
    type httpd_sys_content_t;
    type httpd_t;
    type hugetlbfs_t;
    type init_t;
    type user_home_t;
    type var_log_t;
    type var_t;
    class capability sys_resource;
    class dir { read rmdir write };
    class file { create getattr map open read };
    class process setrlimit;
    class tcp_socket name_connect;
}

#============= httpd_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_can_network_connect, httpd_graceful_shutdown, httpd_can_network_relay, nis_enabled
#
## fedora
## Allows NginX to connect an http_port_t to tcp_socket.
allow httpd_t http_port_t:tcp_socket name_connect;

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_run_stickshift, httpd_setrlimit
#
## fedora
## Allows NginX to have a capability to check on system resource.
allow httpd_t self:capability sys_resource;

#!!!! This avc can be allowed using one of the these booleans:
#     'httpd_setrlimit'
#
## fedora
## Allows NginX to overwrite its rlimit.
allow httpd_t self:process setrlimit;

#!!!! This avc can be allowed using one of the these booleans:
#     'httpd_read_user_content'
#
## fedora
## Allows NginX to open & read files on home DIR.
allow httpd_t user_home_t:file { open read };

## fedora
## Allows NginX to open a log file under /var directory.
allow httpd_t var_log_t:file open;

## fedora
## Allows NginX to get the attribute of /var directory.
allow httpd_t var_t:file getattr;

