
module php 1.0;

require {
    type hugetlbfs_t;
    type init_t;
    class file map;
}

#============= init_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow init_t hugetlbfs_t:file map;

