
module cse-fedora 1.0;

require {
    type efivarfs_t;
    type chkpwd_t;
    type etc_t;
    type init_t;
    type named_t;
    type NetworkManager_t;
    type rtkit_daemon_t;
    type session_dbusd_tmp_t;
    type sysfs_t;
    type systemd_hostnamed_t;
    type systemd_logind_t;
    type thumb_t;
    type unlabeled_t;
    type user_tmp_t;
    type xdm_t;
    class dir { read rmdir write };
    class fifo_file read;
    class file { map open rename unlink write };
    class filesystem associate;
}

#============= chkpwd_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow chkpwd_t etc_t:file map;

#============= efivarfs_t ==============
allow efivarfs_t sysfs_t:filesystem associate;

#============= init_t ==============
allow init_t session_dbusd_tmp_t:dir { read rmdir write };

#============= named_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow named_t etc_t:file map;

#============= NetworkManager_t ==============
allow NetworkManager_t etc_t:file unlink;

#============= rtkit_daemon_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow rtkit_daemon_t etc_t:file map;

#============= systemd_hostnamed_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow systemd_hostnamed_t etc_t:file map;

#============= systemd_logind_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#    'domain_can_mmap_files'
allow systemd_logind_t etc_t:file map;

#============= thumb_t ==============
allow thumb_t user_tmp_t:fifo_file read;

#============= xdm_t ==============
allow xdm_t unlabeled_t:file { open rename unlink write };
